body,
a {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  color: #E5E7EB;
}


/* list and link styling */
ul,
li {
  /* border: 1px solid rgb(34, 178, 82);  */
  display: flex;
  gap: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-size: 18px;
}


/* Header style */

h1 {
  margin: 0px;
  padding: 0px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: #1f2937;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 1);
  padding: 20px;
}

.header-logo a {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
  padding-right: 40px;
}


/* First Section style */

.section1 {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 80px;
  gap: 64px;
  flex-wrap: wrap;
}

.section1-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  padding: 50px;
}


.section1-hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.section1-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: #767676;
  box-shadow: 10px 10px 30px rgb(0, 0, 0);
}

.signup-button {
  background-color: #3882f6;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #F9FAF8;
  border: none;
  padding: 7px 35px;
  text-align: center;
  border-radius: 10px;
}

/* Second Section style */

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-hero {
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding-top: 40px;
}

.section2-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
  max-width: 968px;
}

.img-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  margin: 16px;
  color: #a1a2a3;
}

.img-block img {
  border-radius: 10%;
  border: 4px solid #306ed3;
  min-height: 200px;
}




/* Quote Section Style*/

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: #E5E7EB;
  text-align: center;
}

.quote p {
  flex-direction: column;  
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  width: 800px;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

/* Footer style */

.footer-container {
display: flex;
justify-content: center;
align-items: center;
background-color: #1f2937;
}

.footer-container p {
  font-weight: 100;
  padding: 10px;
}
